h1 {
  font-weight: 100 !important;
  font-size: 40px; }

.fill-bg-1 {
  background: #efefef; }

.fill-bg-2 {
  background: #c8c2b6; }

.fill-theme-1 {
  background: #373737;
  color: #fff; }

.fill-theme-2 {
  background: #d4d4d4;
  color: #fff; }

.fill-dark1 {
  background: #808080;
  color: #fff; }

h1, h2, h3, h4 {
  font-family: "PT Serif", sans-serif;
  font-weight: 500; }

h2, .h2 {
  font-size: 3.6rem; }

.relative {
  position: relative !important; }

.show-block {
  display: block !important; }

.show-grid {
  display: flex !important; }

.hide {
  display: none !important; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.nowrap {
  white-space: nowrap; }

.clearfix:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  clear: both; }

.gd {
  display: flex;
  flex-wrap: wrap; }

.gd-row {
  flex-direction: row; }

.gd-reverse {
  flex-direction: row-reverse; }

.gd-column {
  flex-direction: column; }

.gd-column-reverse {
  flex-direction: column-reverse; }

.gd-nowrap {
  flex-flow: nowrap; }

.gd-center {
  align-items: center; }

.gd-justify-center {
  justify-content: center; }

.gd-justify-end {
  justify-content: flex-end; }

.cl {
  flex: 1; }

.collapsefix {
  flex-basis: auto; }

.flex-cells > .cl {
  display: flex;
  width: 100%; }

.cl-content {
  width: 100%; }

.gd1 > .cl {
  flex: 0 0 8.33333;
  max-width: 8.33333; }

.cl1 {
  width: 8.33333 !important;
  max-width: 8.33333 !important;
  flex: none !important; }

.gd2 > .cl {
  flex: 0 0 16.66667;
  max-width: 16.66667; }

.cl2 {
  width: 16.66667 !important;
  max-width: 16.66667 !important;
  flex: none !important; }

.gd3 > .cl {
  flex: 0 0 25;
  max-width: 25; }

.cl3 {
  width: 25 !important;
  max-width: 25 !important;
  flex: none !important; }

.gd4 > .cl {
  flex: 0 0 33.33333;
  max-width: 33.33333; }

.cl4 {
  width: 33.33333 !important;
  max-width: 33.33333 !important;
  flex: none !important; }

.gd5 > .cl {
  flex: 0 0 41.66667;
  max-width: 41.66667; }

.cl5 {
  width: 41.66667 !important;
  max-width: 41.66667 !important;
  flex: none !important; }

.gd6 > .cl {
  flex: 0 0 50;
  max-width: 50; }

.cl6 {
  width: 50 !important;
  max-width: 50 !important;
  flex: none !important; }

.gd7 > .cl {
  flex: 0 0 58.33333;
  max-width: 58.33333; }

.cl7 {
  width: 58.33333 !important;
  max-width: 58.33333 !important;
  flex: none !important; }

.gd8 > .cl {
  flex: 0 0 66.66667;
  max-width: 66.66667; }

.cl8 {
  width: 66.66667 !important;
  max-width: 66.66667 !important;
  flex: none !important; }

.gd9 > .cl {
  flex: 0 0 75;
  max-width: 75; }

.cl9 {
  width: 75 !important;
  max-width: 75 !important;
  flex: none !important; }

.gd10 > .cl {
  flex: 0 0 83.33333;
  max-width: 83.33333; }

.cl10 {
  width: 83.33333 !important;
  max-width: 83.33333 !important;
  flex: none !important; }

.gd11 > .cl {
  flex: 0 0 91.66667;
  max-width: 91.66667; }

.cl11 {
  width: 91.66667 !important;
  max-width: 91.66667 !important;
  flex: none !important; }

.gd12 > .cl {
  flex: 0 0 100;
  max-width: 100; }

.cl12 {
  width: 100 !important;
  max-width: 100 !important;
  flex: none !important; }

.cl-auto {
  flex: auto !important;
  max-width: 100% !important; }

.cl-collapse {
  flex-grow: 0 !important;
  overflow: visible !important; }

.noflex {
  flex: none !important; }

.cl-neg-order {
  order: -1; }

.cl-fill {
  flex: 1 !important;
  max-width: none !important; }

.gd-gtrs-xxxxn {
  margin-left: -0.1rem;
  margin-top: -0.1rem; }
  .gd-gtrs-xxxxn > .cl {
    padding-left: 0.1rem;
    padding-top: 0.1rem; }

.gd-gtrs-x-xxxxn {
  margin-left: -0.1rem; }
  .gd-gtrs-x-xxxxn > .cl {
    padding-left: 0.1rem; }

.gd-gtrs-y-xxxxn {
  margin-top: -0.1rem; }
  .gd-gtrs-y-xxxxn > .cl {
    padding-top: 0.1rem; }

.gd-gtrs-xxxn {
  margin-left: -0.2rem;
  margin-top: -0.2rem; }
  .gd-gtrs-xxxn > .cl {
    padding-left: 0.2rem;
    padding-top: 0.2rem; }

.gd-gtrs-x-xxxn {
  margin-left: -0.2rem; }
  .gd-gtrs-x-xxxn > .cl {
    padding-left: 0.2rem; }

.gd-gtrs-y-xxxn {
  margin-top: -0.2rem; }
  .gd-gtrs-y-xxxn > .cl {
    padding-top: 0.2rem; }

.gd-gtrs-xxn {
  margin-left: -0.5rem;
  margin-top: -0.5rem; }
  .gd-gtrs-xxn > .cl {
    padding-left: 0.5rem;
    padding-top: 0.5rem; }

.gd-gtrs-x-xxn {
  margin-left: -0.5rem; }
  .gd-gtrs-x-xxn > .cl {
    padding-left: 0.5rem; }

.gd-gtrs-y-xxn {
  margin-top: -0.5rem; }
  .gd-gtrs-y-xxn > .cl {
    padding-top: 0.5rem; }

.gd-gtrs-xn {
  margin-left: -1.2rem;
  margin-top: -1.2rem; }
  .gd-gtrs-xn > .cl {
    padding-left: 1.2rem;
    padding-top: 1.2rem; }

.gd-gtrs-x-xn {
  margin-left: -1.2rem; }
  .gd-gtrs-x-xn > .cl {
    padding-left: 1.2rem; }

.gd-gtrs-y-xn {
  margin-top: -1.2rem; }
  .gd-gtrs-y-xn > .cl {
    padding-top: 1.2rem; }

.gd-gtrs-n {
  margin-left: -2rem;
  margin-top: -2rem; }
  .gd-gtrs-n > .cl {
    padding-left: 2rem;
    padding-top: 2rem; }

.gd-gtrs-x-n {
  margin-left: -2rem; }
  .gd-gtrs-x-n > .cl {
    padding-left: 2rem; }

.gd-gtrs-y-n {
  margin-top: -2rem; }
  .gd-gtrs-y-n > .cl {
    padding-top: 2rem; }

.gd-gtrs-xn {
  margin-left: -1.2rem;
  margin-top: -1.2rem; }
  .gd-gtrs-xn > .cl {
    padding-left: 1.2rem;
    padding-top: 1.2rem; }

.gd-gtrs-x-xn {
  margin-left: -1.2rem; }
  .gd-gtrs-x-xn > .cl {
    padding-left: 1.2rem; }

.gd-gtrs-y-xn {
  margin-top: -1.2rem; }
  .gd-gtrs-y-xn > .cl {
    padding-top: 1.2rem; }

.gd-gtrs-xxn {
  margin-left: -0.5rem;
  margin-top: -0.5rem; }
  .gd-gtrs-xxn > .cl {
    padding-left: 0.5rem;
    padding-top: 0.5rem; }

.gd-gtrs-x-xxn {
  margin-left: -0.5rem; }
  .gd-gtrs-x-xxn > .cl {
    padding-left: 0.5rem; }

.gd-gtrs-y-xxn {
  margin-top: -0.5rem; }
  .gd-gtrs-y-xxn > .cl {
    padding-top: 0.5rem; }

.gd-gtrs-xxxn {
  margin-left: -0.2rem;
  margin-top: -0.2rem; }
  .gd-gtrs-xxxn > .cl {
    padding-left: 0.2rem;
    padding-top: 0.2rem; }

.gd-gtrs-x-xxxn {
  margin-left: -0.2rem; }
  .gd-gtrs-x-xxxn > .cl {
    padding-left: 0.2rem; }

.gd-gtrs-y-xxxn {
  margin-top: -0.2rem; }
  .gd-gtrs-y-xxxn > .cl {
    padding-top: 0.2rem; }

@media (max-width: 721px) {
  .sm-relative {
    position: relative !important; }
  .sm-show-block {
    display: block !important; }
  .sm-show-grid {
    display: flex !important; }
  .sm-hide {
    display: none !important; }
  .sm-text-center {
    text-align: center; }
  .sm-text-right {
    text-align: right; }
  .sm-gd {
    display: flex;
    flex-wrap: wrap; }
  .sm-gd-row {
    flex-direction: row; }
  .sm-gd-reverse {
    flex-direction: row-reverse; }
  .sm-gd-column {
    flex-direction: column; }
  .sm-gd-column-reverse {
    flex-direction: column-reverse; }
  .sm-block {
    display: block; }
  .sm-no-cl {
    flex: initial; }
  .sm-gd-center {
    align-items: center; }
  .sm-cl-content {
    width: 100%; }
  .sm-cl-neg-order {
    order: -1; }
  .sm-gd1 > .cl {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .sm-cl1 {
    width: 8.33333% !important;
    max-width: 8.33333% !important;
    flex: none !important; }
  .sm-gd2 > .cl {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .sm-cl2 {
    width: 16.66667% !important;
    max-width: 16.66667% !important;
    flex: none !important; }
  .sm-gd3 > .cl {
    flex: 0 0 25%;
    max-width: 25%; }
  .sm-cl3 {
    width: 25% !important;
    max-width: 25% !important;
    flex: none !important; }
  .sm-gd4 > .cl {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .sm-cl4 {
    width: 33.33333% !important;
    max-width: 33.33333% !important;
    flex: none !important; }
  .sm-gd5 > .cl {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .sm-cl5 {
    width: 41.66667% !important;
    max-width: 41.66667% !important;
    flex: none !important; }
  .sm-gd6 > .cl {
    flex: 0 0 50%;
    max-width: 50%; }
  .sm-cl6 {
    width: 50% !important;
    max-width: 50% !important;
    flex: none !important; }
  .sm-gd7 > .cl {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .sm-cl7 {
    width: 58.33333% !important;
    max-width: 58.33333% !important;
    flex: none !important; }
  .sm-gd8 > .cl {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .sm-cl8 {
    width: 66.66667% !important;
    max-width: 66.66667% !important;
    flex: none !important; }
  .sm-gd9 > .cl {
    flex: 0 0 75%;
    max-width: 75%; }
  .sm-cl9 {
    width: 75% !important;
    max-width: 75% !important;
    flex: none !important; }
  .sm-gd10 > .cl {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .sm-cl10 {
    width: 83.33333% !important;
    max-width: 83.33333% !important;
    flex: none !important; }
  .sm-gd11 > .cl {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .sm-cl11 {
    width: 91.66667% !important;
    max-width: 91.66667% !important;
    flex: none !important; }
  .sm-gd12 > .cl {
    flex: 0 0 100%;
    max-width: 100%; }
  .sm-cl12 {
    width: 100% !important;
    max-width: 100% !important;
    flex: none !important; }
  .sm-gd-gtrs-xxxxn {
    margin-left: -0.1rem;
    margin-top: -0.1rem; }
    .sm-gd-gtrs-xxxxn > .cl {
      padding-left: 0.1rem;
      padding-top: 0.1rem; }
  .sm-gd-gtrs-x-xxxxn {
    margin-left: -0.1rem; }
    .sm-gd-gtrs-x-xxxxn > .cl {
      padding-left: 0.1rem; }
  .sm-gd-gtrs-y-xxxxn {
    margin-top: -0.1rem; }
    .sm-gd-gtrs-y-xxxxn > .cl {
      padding-top: 0.1rem; }
  .sm-gd-gtrs-xxxn {
    margin-left: -0.2rem;
    margin-top: -0.2rem; }
    .sm-gd-gtrs-xxxn > .cl {
      padding-left: 0.2rem;
      padding-top: 0.2rem; }
  .sm-gd-gtrs-x-xxxn {
    margin-left: -0.2rem; }
    .sm-gd-gtrs-x-xxxn > .cl {
      padding-left: 0.2rem; }
  .sm-gd-gtrs-y-xxxn {
    margin-top: -0.2rem; }
    .sm-gd-gtrs-y-xxxn > .cl {
      padding-top: 0.2rem; }
  .sm-gd-gtrs-xxn {
    margin-left: -0.5rem;
    margin-top: -0.5rem; }
    .sm-gd-gtrs-xxn > .cl {
      padding-left: 0.5rem;
      padding-top: 0.5rem; }
  .sm-gd-gtrs-x-xxn {
    margin-left: -0.5rem; }
    .sm-gd-gtrs-x-xxn > .cl {
      padding-left: 0.5rem; }
  .sm-gd-gtrs-y-xxn {
    margin-top: -0.5rem; }
    .sm-gd-gtrs-y-xxn > .cl {
      padding-top: 0.5rem; }
  .sm-gd-gtrs-xn {
    margin-left: -1.2rem;
    margin-top: -1.2rem; }
    .sm-gd-gtrs-xn > .cl {
      padding-left: 1.2rem;
      padding-top: 1.2rem; }
  .sm-gd-gtrs-x-xn {
    margin-left: -1.2rem; }
    .sm-gd-gtrs-x-xn > .cl {
      padding-left: 1.2rem; }
  .sm-gd-gtrs-y-xn {
    margin-top: -1.2rem; }
    .sm-gd-gtrs-y-xn > .cl {
      padding-top: 1.2rem; }
  .sm-gd-gtrs-n {
    margin-left: -2rem;
    margin-top: -2rem; }
    .sm-gd-gtrs-n > .cl {
      padding-left: 2rem;
      padding-top: 2rem; }
  .sm-gd-gtrs-x-n {
    margin-left: -2rem; }
    .sm-gd-gtrs-x-n > .cl {
      padding-left: 2rem; }
  .sm-gd-gtrs-y-n {
    margin-top: -2rem; }
    .sm-gd-gtrs-y-n > .cl {
      padding-top: 2rem; }
  .sm-gd-gtrs-xn {
    margin-left: -1.2rem;
    margin-top: -1.2rem; }
    .sm-gd-gtrs-xn > .cl {
      padding-left: 1.2rem;
      padding-top: 1.2rem; }
  .sm-gd-gtrs-x-xn {
    margin-left: -1.2rem; }
    .sm-gd-gtrs-x-xn > .cl {
      padding-left: 1.2rem; }
  .sm-gd-gtrs-y-xn {
    margin-top: -1.2rem; }
    .sm-gd-gtrs-y-xn > .cl {
      padding-top: 1.2rem; }
  .sm-gd-gtrs-xxn {
    margin-left: -0.5rem;
    margin-top: -0.5rem; }
    .sm-gd-gtrs-xxn > .cl {
      padding-left: 0.5rem;
      padding-top: 0.5rem; }
  .sm-gd-gtrs-x-xxn {
    margin-left: -0.5rem; }
    .sm-gd-gtrs-x-xxn > .cl {
      padding-left: 0.5rem; }
  .sm-gd-gtrs-y-xxn {
    margin-top: -0.5rem; }
    .sm-gd-gtrs-y-xxn > .cl {
      padding-top: 0.5rem; }
  .sm-gd-gtrs-xxxn {
    margin-left: -0.2rem;
    margin-top: -0.2rem; }
    .sm-gd-gtrs-xxxn > .cl {
      padding-left: 0.2rem;
      padding-top: 0.2rem; }
  .sm-gd-gtrs-x-xxxn {
    margin-left: -0.2rem; }
    .sm-gd-gtrs-x-xxxn > .cl {
      padding-left: 0.2rem; }
  .sm-gd-gtrs-y-xxxn {
    margin-top: -0.2rem; }
    .sm-gd-gtrs-y-xxxn > .cl {
      padding-top: 0.2rem; } }

@media (max-width: 960px) and (min-width: 721px) {
  .md-relative {
    position: relative !important; }
  .md-show-block {
    display: block !important; }
  .md-show-grid {
    display: flex !important; }
  .md-hide {
    display: none !important; }
  .md-text-center {
    text-align: center; }
  .md-text-right {
    text-align: right; }
  .md-gd {
    display: flex;
    flex-wrap: wrap; }
  .md-gd-row {
    flex-direction: row; }
  .md-gd-reverse {
    flex-direction: row-reverse; }
  .md-gd-column {
    flex-direction: column; }
  .md-gd-column-reverse {
    flex-direction: column-reverse; }
  .md-block {
    display: block; }
  .md-no-cl {
    flex: initial; }
  .md-gd-center {
    align-items: center; }
  .md-cl-content {
    width: 100%; }
  .md-cl-neg-order {
    order: -1; }
  .md-gd1 > .cl {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .md-cl1 {
    width: 8.33333% !important;
    max-width: 8.33333% !important;
    flex: none !important; }
  .md-gd2 > .cl {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .md-cl2 {
    width: 16.66667% !important;
    max-width: 16.66667% !important;
    flex: none !important; }
  .md-gd3 > .cl {
    flex: 0 0 25%;
    max-width: 25%; }
  .md-cl3 {
    width: 25% !important;
    max-width: 25% !important;
    flex: none !important; }
  .md-gd4 > .cl {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .md-cl4 {
    width: 33.33333% !important;
    max-width: 33.33333% !important;
    flex: none !important; }
  .md-gd5 > .cl {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .md-cl5 {
    width: 41.66667% !important;
    max-width: 41.66667% !important;
    flex: none !important; }
  .md-gd6 > .cl {
    flex: 0 0 50%;
    max-width: 50%; }
  .md-cl6 {
    width: 50% !important;
    max-width: 50% !important;
    flex: none !important; }
  .md-gd7 > .cl {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .md-cl7 {
    width: 58.33333% !important;
    max-width: 58.33333% !important;
    flex: none !important; }
  .md-gd8 > .cl {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .md-cl8 {
    width: 66.66667% !important;
    max-width: 66.66667% !important;
    flex: none !important; }
  .md-gd9 > .cl {
    flex: 0 0 75%;
    max-width: 75%; }
  .md-cl9 {
    width: 75% !important;
    max-width: 75% !important;
    flex: none !important; }
  .md-gd10 > .cl {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .md-cl10 {
    width: 83.33333% !important;
    max-width: 83.33333% !important;
    flex: none !important; }
  .md-gd11 > .cl {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .md-cl11 {
    width: 91.66667% !important;
    max-width: 91.66667% !important;
    flex: none !important; }
  .md-gd12 > .cl {
    flex: 0 0 100%;
    max-width: 100%; }
  .md-cl12 {
    width: 100% !important;
    max-width: 100% !important;
    flex: none !important; }
  .md-gd-gtrs-xxxxn {
    margin-left: -0.1rem;
    margin-top: -0.1rem; }
    .md-gd-gtrs-xxxxn > .cl {
      padding-left: 0.1rem;
      padding-top: 0.1rem; }
  .md-gd-gtrs-x-xxxxn {
    margin-left: -0.1rem; }
    .md-gd-gtrs-x-xxxxn > .cl {
      padding-left: 0.1rem; }
  .md-gd-gtrs-y-xxxxn {
    margin-top: -0.1rem; }
    .md-gd-gtrs-y-xxxxn > .cl {
      padding-top: 0.1rem; }
  .md-gd-gtrs-xxxn {
    margin-left: -0.2rem;
    margin-top: -0.2rem; }
    .md-gd-gtrs-xxxn > .cl {
      padding-left: 0.2rem;
      padding-top: 0.2rem; }
  .md-gd-gtrs-x-xxxn {
    margin-left: -0.2rem; }
    .md-gd-gtrs-x-xxxn > .cl {
      padding-left: 0.2rem; }
  .md-gd-gtrs-y-xxxn {
    margin-top: -0.2rem; }
    .md-gd-gtrs-y-xxxn > .cl {
      padding-top: 0.2rem; }
  .md-gd-gtrs-xxn {
    margin-left: -0.5rem;
    margin-top: -0.5rem; }
    .md-gd-gtrs-xxn > .cl {
      padding-left: 0.5rem;
      padding-top: 0.5rem; }
  .md-gd-gtrs-x-xxn {
    margin-left: -0.5rem; }
    .md-gd-gtrs-x-xxn > .cl {
      padding-left: 0.5rem; }
  .md-gd-gtrs-y-xxn {
    margin-top: -0.5rem; }
    .md-gd-gtrs-y-xxn > .cl {
      padding-top: 0.5rem; }
  .md-gd-gtrs-xn {
    margin-left: -1.2rem;
    margin-top: -1.2rem; }
    .md-gd-gtrs-xn > .cl {
      padding-left: 1.2rem;
      padding-top: 1.2rem; }
  .md-gd-gtrs-x-xn {
    margin-left: -1.2rem; }
    .md-gd-gtrs-x-xn > .cl {
      padding-left: 1.2rem; }
  .md-gd-gtrs-y-xn {
    margin-top: -1.2rem; }
    .md-gd-gtrs-y-xn > .cl {
      padding-top: 1.2rem; }
  .md-gd-gtrs-n {
    margin-left: -2rem;
    margin-top: -2rem; }
    .md-gd-gtrs-n > .cl {
      padding-left: 2rem;
      padding-top: 2rem; }
  .md-gd-gtrs-x-n {
    margin-left: -2rem; }
    .md-gd-gtrs-x-n > .cl {
      padding-left: 2rem; }
  .md-gd-gtrs-y-n {
    margin-top: -2rem; }
    .md-gd-gtrs-y-n > .cl {
      padding-top: 2rem; }
  .md-gd-gtrs-xn {
    margin-left: -1.2rem;
    margin-top: -1.2rem; }
    .md-gd-gtrs-xn > .cl {
      padding-left: 1.2rem;
      padding-top: 1.2rem; }
  .md-gd-gtrs-x-xn {
    margin-left: -1.2rem; }
    .md-gd-gtrs-x-xn > .cl {
      padding-left: 1.2rem; }
  .md-gd-gtrs-y-xn {
    margin-top: -1.2rem; }
    .md-gd-gtrs-y-xn > .cl {
      padding-top: 1.2rem; }
  .md-gd-gtrs-xxn {
    margin-left: -0.5rem;
    margin-top: -0.5rem; }
    .md-gd-gtrs-xxn > .cl {
      padding-left: 0.5rem;
      padding-top: 0.5rem; }
  .md-gd-gtrs-x-xxn {
    margin-left: -0.5rem; }
    .md-gd-gtrs-x-xxn > .cl {
      padding-left: 0.5rem; }
  .md-gd-gtrs-y-xxn {
    margin-top: -0.5rem; }
    .md-gd-gtrs-y-xxn > .cl {
      padding-top: 0.5rem; }
  .md-gd-gtrs-xxxn {
    margin-left: -0.2rem;
    margin-top: -0.2rem; }
    .md-gd-gtrs-xxxn > .cl {
      padding-left: 0.2rem;
      padding-top: 0.2rem; }
  .md-gd-gtrs-x-xxxn {
    margin-left: -0.2rem; }
    .md-gd-gtrs-x-xxxn > .cl {
      padding-left: 0.2rem; }
  .md-gd-gtrs-y-xxxn {
    margin-top: -0.2rem; }
    .md-gd-gtrs-y-xxxn > .cl {
      padding-top: 0.2rem; } }

@media (min-width: 960px) {
  .lg-relative {
    position: relative !important; }
  .lg-show-block {
    display: block !important; }
  .lg-show-grid {
    display: flex !important; }
  .lg-hide {
    display: none !important; }
  .lg-text-center {
    text-align: center; }
  .lg-text-right {
    text-align: right; }
  .lg-gd {
    display: flex;
    flex-wrap: wrap; }
  .lg-gd-row {
    flex-direction: row; }
  .lg-gd-reverse {
    flex-direction: row-reverse; }
  .lg-gd-column {
    flex-direction: column; }
  .lg-gd-column-reverse {
    flex-direction: column-reverse; }
  .lg-block {
    display: block; }
  .lg-no-cl {
    flex: initial; }
  .lg-gd-center {
    align-items: center; }
  .lg-cl-content {
    width: 100%; }
  .lg-cl-neg-order {
    order: -1; }
  .lg-gd1 > .cl {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .lg-cl1 {
    width: 8.33333% !important;
    max-width: 8.33333% !important;
    flex: none !important; }
  .lg-gd2 > .cl {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .lg-cl2 {
    width: 16.66667% !important;
    max-width: 16.66667% !important;
    flex: none !important; }
  .lg-gd3 > .cl {
    flex: 0 0 25%;
    max-width: 25%; }
  .lg-cl3 {
    width: 25% !important;
    max-width: 25% !important;
    flex: none !important; }
  .lg-gd4 > .cl {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .lg-cl4 {
    width: 33.33333% !important;
    max-width: 33.33333% !important;
    flex: none !important; }
  .lg-gd5 > .cl {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .lg-cl5 {
    width: 41.66667% !important;
    max-width: 41.66667% !important;
    flex: none !important; }
  .lg-gd6 > .cl {
    flex: 0 0 50%;
    max-width: 50%; }
  .lg-cl6 {
    width: 50% !important;
    max-width: 50% !important;
    flex: none !important; }
  .lg-gd7 > .cl {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .lg-cl7 {
    width: 58.33333% !important;
    max-width: 58.33333% !important;
    flex: none !important; }
  .lg-gd8 > .cl {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .lg-cl8 {
    width: 66.66667% !important;
    max-width: 66.66667% !important;
    flex: none !important; }
  .lg-gd9 > .cl {
    flex: 0 0 75%;
    max-width: 75%; }
  .lg-cl9 {
    width: 75% !important;
    max-width: 75% !important;
    flex: none !important; }
  .lg-gd10 > .cl {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .lg-cl10 {
    width: 83.33333% !important;
    max-width: 83.33333% !important;
    flex: none !important; }
  .lg-gd11 > .cl {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .lg-cl11 {
    width: 91.66667% !important;
    max-width: 91.66667% !important;
    flex: none !important; }
  .lg-gd12 > .cl {
    flex: 0 0 100%;
    max-width: 100%; }
  .lg-cl12 {
    width: 100% !important;
    max-width: 100% !important;
    flex: none !important; }
  .lg-gd-gtrs-xxxxn {
    margin-left: -0.1rem;
    margin-top: -0.1rem; }
    .lg-gd-gtrs-xxxxn > .cl {
      padding-left: 0.1rem;
      padding-top: 0.1rem; }
  .lg-gd-gtrs-x-xxxxn {
    margin-left: -0.1rem; }
    .lg-gd-gtrs-x-xxxxn > .cl {
      padding-left: 0.1rem; }
  .lg-gd-gtrs-y-xxxxn {
    margin-top: -0.1rem; }
    .lg-gd-gtrs-y-xxxxn > .cl {
      padding-top: 0.1rem; }
  .lg-gd-gtrs-xxxn {
    margin-left: -0.2rem;
    margin-top: -0.2rem; }
    .lg-gd-gtrs-xxxn > .cl {
      padding-left: 0.2rem;
      padding-top: 0.2rem; }
  .lg-gd-gtrs-x-xxxn {
    margin-left: -0.2rem; }
    .lg-gd-gtrs-x-xxxn > .cl {
      padding-left: 0.2rem; }
  .lg-gd-gtrs-y-xxxn {
    margin-top: -0.2rem; }
    .lg-gd-gtrs-y-xxxn > .cl {
      padding-top: 0.2rem; }
  .lg-gd-gtrs-xxn {
    margin-left: -0.5rem;
    margin-top: -0.5rem; }
    .lg-gd-gtrs-xxn > .cl {
      padding-left: 0.5rem;
      padding-top: 0.5rem; }
  .lg-gd-gtrs-x-xxn {
    margin-left: -0.5rem; }
    .lg-gd-gtrs-x-xxn > .cl {
      padding-left: 0.5rem; }
  .lg-gd-gtrs-y-xxn {
    margin-top: -0.5rem; }
    .lg-gd-gtrs-y-xxn > .cl {
      padding-top: 0.5rem; }
  .lg-gd-gtrs-xn {
    margin-left: -1.2rem;
    margin-top: -1.2rem; }
    .lg-gd-gtrs-xn > .cl {
      padding-left: 1.2rem;
      padding-top: 1.2rem; }
  .lg-gd-gtrs-x-xn {
    margin-left: -1.2rem; }
    .lg-gd-gtrs-x-xn > .cl {
      padding-left: 1.2rem; }
  .lg-gd-gtrs-y-xn {
    margin-top: -1.2rem; }
    .lg-gd-gtrs-y-xn > .cl {
      padding-top: 1.2rem; }
  .lg-gd-gtrs-n {
    margin-left: -2rem;
    margin-top: -2rem; }
    .lg-gd-gtrs-n > .cl {
      padding-left: 2rem;
      padding-top: 2rem; }
  .lg-gd-gtrs-x-n {
    margin-left: -2rem; }
    .lg-gd-gtrs-x-n > .cl {
      padding-left: 2rem; }
  .lg-gd-gtrs-y-n {
    margin-top: -2rem; }
    .lg-gd-gtrs-y-n > .cl {
      padding-top: 2rem; }
  .lg-gd-gtrs-xn {
    margin-left: -1.2rem;
    margin-top: -1.2rem; }
    .lg-gd-gtrs-xn > .cl {
      padding-left: 1.2rem;
      padding-top: 1.2rem; }
  .lg-gd-gtrs-x-xn {
    margin-left: -1.2rem; }
    .lg-gd-gtrs-x-xn > .cl {
      padding-left: 1.2rem; }
  .lg-gd-gtrs-y-xn {
    margin-top: -1.2rem; }
    .lg-gd-gtrs-y-xn > .cl {
      padding-top: 1.2rem; }
  .lg-gd-gtrs-xxn {
    margin-left: -0.5rem;
    margin-top: -0.5rem; }
    .lg-gd-gtrs-xxn > .cl {
      padding-left: 0.5rem;
      padding-top: 0.5rem; }
  .lg-gd-gtrs-x-xxn {
    margin-left: -0.5rem; }
    .lg-gd-gtrs-x-xxn > .cl {
      padding-left: 0.5rem; }
  .lg-gd-gtrs-y-xxn {
    margin-top: -0.5rem; }
    .lg-gd-gtrs-y-xxn > .cl {
      padding-top: 0.5rem; }
  .lg-gd-gtrs-xxxn {
    margin-left: -0.2rem;
    margin-top: -0.2rem; }
    .lg-gd-gtrs-xxxn > .cl {
      padding-left: 0.2rem;
      padding-top: 0.2rem; }
  .lg-gd-gtrs-x-xxxn {
    margin-left: -0.2rem; }
    .lg-gd-gtrs-x-xxxn > .cl {
      padding-left: 0.2rem; }
  .lg-gd-gtrs-y-xxxn {
    margin-top: -0.2rem; }
    .lg-gd-gtrs-y-xxxn > .cl {
      padding-top: 0.2rem; } }

@media (min-width: 1684px) {
  .page-constrain {
    padding: 0 calc(50% - 780px); } }

@media (max-width: 1683px) and (min-width: 1400px) {
  .page-constrain {
    padding: 0 4.5%; } }

@media (max-width: 1399px) and (min-width: 961px) {
  .page-constrain {
    padding: 0 4.5%; } }

@media (max-width: 960px) and (min-width: 721px) {
  .page-constrain {
    padding: 0 4%; } }

@media (max-width: 720px) {
  .page-constrain {
    padding: 0 1rem; } }

@media (min-width: 1684px) {
  .page-constrain-more {
    padding: 0 calc(50% - 650px); } }

@media (max-width: 1683px) and (min-width: 1400px) {
  .page-constrain-more {
    padding: 0 10%; } }

@media (max-width: 1399px) and (min-width: 961px) {
  .page-constrain-more {
    padding: 0 7%; } }

@media (max-width: 960px) and (min-width: 721px) {
  .page-constrain-more {
    padding: 0 6%; } }

@media (max-width: 720px) {
  .page-constrain-more {
    padding: 0 1rem; } }

@media (max-width: 960px) and (min-width: 721px) {
  .medium-no-constrain {
    padding: 0; } }

@media (max-width: 721px) {
  .small-no-constrain {
    padding: 0; } }

body {
  text-align: center;
  font-family: sans-serif;
  background: #f2f2f2; }
  body > p, body h1, body h2 {
    color: #000; }
  body h1 {
    text-transform: uppercase; }
