
<div class="page-constrain">

  <form class="gd gd6 gd-gtrs-xn inline-labels">

    <div class="cl">
      <div class="form-control">
        <input type="text" value="" onblur="formControl(this)">
        <label>Fornavn</label>
      </div>
    </div>
    <div class="cl">
      <div class="form-control">
        <input type="text" value="" onblur="formControl(this)">
        <label>Etternavn</label>
      </div>
    </div>
    <div class="cl">
      <div class="form-control">
        <input type="text" value="" onblur="formControl(this)">
        <label>E-post</label>
      </div>
    </div>
    <div class="cl">
      <div class="form-control">
        <input type="text" value="" onblur="formControl(this)">
        <label>Telefon</label>
      </div>
    </div>

  </form>

</div>
<h2>index.html</h2>
<p>bla bla bla</p>