
<div class="page-constrain">

  <form class="gd gd6 sm-gd12 gd-gtrs-xn inline-labels" method="post" action="/users">

    <div class="cl">
      <div class="fc">
        <input name="firstName" placeholder="Donald" type="text" value="" onblur="formControl(this)">
        <label>Fornavn</label>
      </div>
    </div>
    <div class="cl">
      <div class="fc">
        <input name="lastName" placeholder="Duck" type="text" value="" onblur="formControl(this)">
        <label>Etternavn</label>
      </div>
    </div>
    <div class="cl">
      <div class="fc fc-select">
        <select onblur="formControl(this)" value="">
          <option value=""></option>
          <option value="1">1</option>
          <option value="2">2</option>
        </select>
        <label>E-post</label>
      </div>
    </div>
    <div class="cl">
      <div class="fc">
        <input placeholder="99988888" type="text" value="" onblur="formControl(this)">
        <label>Telefon</label>
      </div>
    </div>
    <div class="cl cl12">
      <div class="fc">
        <textarea value="" onblur="formControl(this)"></textarea>
        <label>Din historie</label>
      </div>
    </div>

    <div class="cl cl12">
      <div class="btn-group">
        <button type="submit" class="btn">Btn 1</button>
        <button class="btn">Btn 2</button>
        <button class="btn">Btn 3</button>
        <button class="btn">Btn 4</button>
      </div>
    </div>

  </form>

</div>
<div class="text-center">
  <h2>index.html</h2>
  <p>bla bla bla</p>
</div>
