
<div class="page-constrain">
  <div>
      <div class="gd gd6 gd-justify-center">
        <div class="cl">
          hei
        </div>
        <div class="cl">
          hei
        </div>
        <div class="cl">
          hei
        </div>
        <div class="cl">
          hei
        </div>
      </div>
    <div class="gd gd6 gd-justify-center">
      <div class="cl">
        hei
      </div>
      <div class="cl">
        hei
      </div>
      <div class="cl">
        hei
      </div>
      <div class="cl">
        hei
      </div>
    </div>
    <div class="gd gd6 gd-justify-center">
      <div class="cl">
        hei
      </div>
      <div class="cl">
        hei
      </div>
      <div class="cl">
        hei
      </div>
      <div class="cl">
        hei
      </div>
    </div>
  </div>
</div>
<h2>index.html</h2>
<p>bla bla bla</p>